<!DOCTYPE html>
<html>

<head>
  <title>AR Room</title>
  <meta charset=utf-8 />
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel="stylesheet" href="css/main.css" type="text/css" />
  <script src="socket.io.js"></script>
</head>

<body>
  <div id="info">
    <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a>
    AR Rooom<br />
    Enable chrome://flags/#webxr-ar-module<br />
    (Chrome Android 80+)
  </div>
  <script src="js/main.js" type="module"></script>
</body>

</html>